@import "tailwindcss";



@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* color: #72c6D1; */

    transition: background-color 0.3s, border 0.3s;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-family: "Roboto Flex", serif;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  h1 {
    @apply font-light text-[3.5rem];
  }

  button {
    transition: all 0.1s ease-in;
  }
}

@theme {
  --color-primary: #3dacdb;
  --color-light-primary: #72b7d4;
  --color-dark-primary: #4e8aa4;
  --color-grey-background: #f9fafb;
  --color-danger: #d91656;
}